{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="flex-box-row">
        <h1>How many calories I eat today:</h1>
        <br>
        {% for day, food in full_history_with_date.items %}

            <table class="table table-succes table-success table-hover table-bordered">
            <h3>{{ day }}</h3>

            <tr>
                <th>Name</th>
                <th>Carbs</th>
                <th>Fats</th>
                <th>Protein</th>
                <th>Calorie</th>
                <th>Total</th>

            </tr>
            {% for items in food %}
                <tr>
                    <td>{{ items.name }} </td>
                    <td>{{ items.carbohydrate }} </td>
                    <td>{{ items.fats }} </td>
                    <td>{{ items.protein }} </td>
                    <td>{{ items.calorie }} </td>
                    <td>{{ items.quantity }} </td>
                </tr>

            {% endfor %}
        </table>
        {% endfor %}


    </div>
    <br>
    </div>
{% endblock %}