{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="flex-box-row">
        <h1>What did you eat and how many calories:</h1>
        <br>

        <h2>Tracker</h2>
        <div class="flex-box-row">
            <h3>Calorie limit: 2000 kcal</h3>
            <h3>Total calories consumed: {{ total_calories_consumed}} kcal</h3>
            <h3>Left: {{remaining_calories}} kcal</h3>
        </div>

        <table class="table table-succes table-success table-hover table-bordered">
            <br>
            <br>
            <tr>
                <th>Name</th>
                <th>Carbs</th>
                <th>Fats</th>
                <th>Protein</th>
                <th>Calorie</th>
                <th>Total</th>

            </tr>
            {% for items in foods %}
                <tr>
                    <td>{{ items.name }} </td>
                    <td>{{ items.carbohydrate }} </td>
                    <td>{{ items.fats }} </td>
                    <td>{{ items.protein }} </td>
                    <td>{{ items.calorie }} </td>
                    <td>{{ items.quantity }} </td>
                </tr>

            {% endfor %}
        </table>
    </div>
    <br>
    </div>
{% endblock %}