{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block content %}
    <br><br><br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">Login</h3>

                    </div>
                    <form method="post">
                        {% csrf_token %}
                        <div class="card-body">
                            {{ form.as_p }}
                        </div>
                        {% for message in messages %}
                            <p id="messages">{{ message }}</p>
                        {% endfor %}

                        <div class="card-footer text-center">
                            <div class="d-flex justify-content-center links">
                                Don't have an account? <a href="{% url 'register' %}" class="ml-2">Sign Up</a>
                            </div>
                            <div class="d-flex justify-content-center links">
                                Forgot password? <a href="{% url 'reset_password' %}" class="ml-2">Click here</a>
                            </div>
                        </div>

                </div>
            </div>


        </div>
    </div>

{% endblock %}

